@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital,wght@0,100;0,300;0,400;1,400&family=Libre+Bodoni:ital@0;1&family=Radio+Canada:wght@300;400;500;600;700&family=Righteous&family=Roboto+Mono:wght@100;200&family=Teko:wght@300;400;500&family=Water+Brush&display=swap');

html {
    scroll-behavior: smooth;
}

    body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Anton;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

#videocontainer {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("images/grotto.jpg");
  }
video {
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
  }
#videocontainer2:after {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  #overlay {
    width: 100%;
    position:absolute;
    top: 20%;
    height: 100vh;
    align-items: center;
	  text-align: center;
    z-index:1;
	  display: flex;
    color: rgba(17, 42, 124, 0.753);
    font-family: Radio Canada;
    flex-direction: column;
}
#overlay h1{
   font-size: 6vw;
   color: rgba(17, 42, 124, 0.853);
}
#overlay h2{
    font-size: 4vw;
    color: rgba(181, 253, 11, 0.853);
 }
 #readbutton{
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
	  border: solid #fff 1px;
	  margin-top: 25px;
 }
 a:link#readbutton {
   color: rgba(255, 255, 255, 0.8);
 }
 a:visited#readbutton {
    color: rgba(255, 255, 255, 0.3);
  }
  a:hover#readbutton {
    color: rgba(25, 25, 25, 0.3);
    background-color: rgba(255, 255, 255, 0.3);
  }
 
 #readmore {
     font-family: Radio Canada;
 }

 
  #container2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  #container2 img{
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
  }